<tabset class="card-tabs">
  <tab heading="Generales" class="card-body">

    <div class="card mb-4">
      <div class="card-body">
        <h2>Registro</h2>
        <div class="form-row">

          <div class="form-group col-md-12">
            <div class="form-row">
              <div class="form-group has-float-label col-md-12">
                <span>RFC</span>
                <input type="text" autocomplete="off" class="form-control" name="Rfc" [(ngModel)]="sucursal.Rfc">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group has-float-label col-md-12">
                <span>Nombre</span>
                <input type="text" autocomplete="off" class="form-control" name="Nombre" [(ngModel)]="sucursal.Nombre">
              </div>
            </div>

          </div>

        </div>



      </div>
    </div>


  </tab>


</tabset>